apiVersion: gateway.networking.k8s.io/v1beta1
kind: HTTPRoute
metadata:
  name: smiley-canary
  namespace: faces
spec:
  parentRefs:
    - name: smiley
      kind: Service
      group: core
      port: 80
  rules:
  - backendRefs:
    - name: smiley
      port: 80
      weight: 50
    - name: smiley2
      port: 80
      weight: 50
